@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

.btn {
    border-radius: 8px;
    background: rgb(82, 195, 3);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
    border: none;
    padding: 16px 26px 16px 26px;
    margin-top: 24px;
    cursor: pointer;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background: linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url('../assets/hero-bg.png') center;
    background-size: cover;
    color: white;
}

#hero .main {
    width: 767px;
    text-align: center;
}

#hero .main h5 {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
}

#hero .main h1 {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
}

#hero .main p {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
}

/* Start Card Section */
#card {
    height: 916px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card .container {
    width: 990px;
    height: 559px;
}

#card .container .card-content {}

#card .container .card-content h6 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
}

#card .container .card-content h1 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}
#card .container .card-container{
    margin-top: 40px;
    display: flex;
    justify-content:space-between;
}
#card .container .card-container .main-card {
    text-align: center;
    width: 318px;
}
#card .container .card-container .main-card .main-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#card .container .card-container .main-card .main-cont h3 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    width: 140px;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    padding: 10px 24px 10px 24px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    margin: 10px auto;
}

#card .container .card-container .main-card .main-cont h4 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
}

#card .container .card-container .main-card .main-cont p {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
}

/* #card .container .card-container .card-img{ 
} */
#card .container .card-container .card-img img {
    width: 100%;
}
.btn-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End Card Section */